# Git
.git
.gitignore
.gitattributes

# Docker
.docker
Dockerfile
docker-compose.yml
.dockerignore

# CI/CD
.github
.gitlab-ci.yml

# Documentation
README.md
*.md

# Environment
.env
.env.*
!.env.example

# Dependencies
/vendor
/node_modules

# IDE
.idea
.vscode
*.swp
*.swo
*.swn
.DS_Store

# Laravel specific
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
public/storage

# Testing
/tests
phpunit.xml
.phpunit.result.cache

# Build files
npm-debug.log
yarn-error.log
